@import url(http://fonts.googleapis.com/css?family=Lato:light,regular);

html, body {
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 16px/1.62 "Ubuntu", 'Helvetica Neue', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'aria', sans-serif;
  color: #3E4349;
}

p, pre,
ul, ol, dl,
form, hr,
.content div {
  margin: 0.62em 0 1.62em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 1.62em 0 0.62em;
  font-family: "Lato", 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', "aria", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.25em;
}

ul {
  list-style: square;
  margin-left: 1em;
}

ol {
  list-style: decimal;
  margin-left: 1em;
}

li {
  margin-bottom: 0.6em;
}

li ul, li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}
li ul {
  list-style: disc;
}
li li ul {
  list-style: circle;
}

a {
  color: #5784bf;
  text-decoration: none;
  word-wrap: break-word;
}
a:hover {
  color: #3af;
  cursor: pointer;
  text-decoration: underline;
}

img {
  margin: 0.62em 1em 0.31em 0;
  max-width: 100%;
  display: block;
  text-align: center;
  float: none !important;
}

pre,
code,
tt {
  font-size: 1em;
  line-height: 1.5em;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  overflow-x: scroll;
}

pre {
  border-left: 1px solid RGB(223, 223, 218);
  padding: 0.2em 1em;
  margin-left: 1em;
}

blockquote {
  margin: 0.62em 2em 1em;
  padding: 0.62em 2em 0.2em;
  color: #555;
}
blockquote:before {
  display: block;
  content: "“";
  color: #BABABA;
  font-size: 48px;
  font-family: "Georgia", sans-serif;
  float: left;
  margin-top: -10px;
  margin-left: -10px;
  padding-right: 2px;
}
blockquote:after {
  content: " ";
  display: block;
  visibility: none;
  clear: both;
}
@media (max-width: 650px) {
  blockquote {
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 5px;
}
}

blockquote p:last-child {
  margin-bottom: 0.2em;
}

.align-left {
  float: left;
  margin-right: 1em;
  margin-left: 0;
}

.align-right {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}

table {
  margin-bottom: 1.5em;
  font-size: 1em;
  width: 100%;
}

th {
  text-align: left;
  padding: .25em .25em .25em .4em;
}

td {
  vertical-align: top;
  padding: .25em .25em .25em .4em;
}

tr:nth-child(even) {
  background: #E8E7E7;
}

hr {
  color: #DDD;
  background-color: #DDD;
  height: 1px;
  border: none;
}
.github {
  position: fixed;
  top: 40px;
  right: -50px;
  border: 2px solid #121622;
  box-shadow: 0 0 8px #555;
  -webkit-transform: rotate(45deg);
}
.github:hover {
  box-shadow: 0 0 12px #444;
}
.github .github-link {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 2px 0;
  width: 200px;
  border: 1px dotted #383C46;
  background-color: #121622;
  color: #ECEDEE;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 650px) {
  .github {
    display: none;
  }
}
.document {
  max-width: 640px;
  *width: 650px;
  margin: 0 auto;
  padding: 30px 10px;
}
.navigation {
  text-align: right;
}
.navigation a {
  margin-left: 14px;
}
.entry-description {
  color: #676867;
}

a.title-permalink {
  margin-left: 4px;
  padding: 0 4px;
  text-decoration: none;
  color: white;
}
a.title-permalink:hover {
  color: #5784bf;
  background-color: #eee;
}
.document:after {
  content: "❦";
  display: block;
  text-align: center;
  font-size: 36px;
  color: #d14;
}

.footer {
  margin: 0 auto;
  max-width: 500px;
  *width: 500px;
  color: #555;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1.3;
  padding: 20px 20px 30px;
}
.copyright {
  padding-top: 30px;
  text-align: right;
  font-size: 13px;
  text-shadow: 0 1px 0 #eee;
  color: #999;
}
@media (max-width: 650px) {
  .footer {
    padding-bottom: 10px;
  }
  .copyright {
    text-align: center;
  }
}
.copyright a {
  color: #888;
}
.copyright a:hover {
  color: #222;
}
